p {
    text-align: left;
}

.image-main {
    width: "600px";
    height: "300px";
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.image-list {
    width: "100%";
}

.image-title {
    letter-spacing: 3px; 
    text-align: center;
    font-size: 250%;
}